body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100%;
    box-sizing: border-box;
    --text1: grey;
    --input_bg: #f8f8f8;
    --button_bg: rgb(71, 71, 180);
    --buttonbg_active: rgb(15, 15, 107);
    --button_text: white;
    --error: #f44336;
}

html {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: unset;
}

@media (max-width: 1536px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 820px) {
    html {
        font-size: 14px;
    }
}

/* scroll-theme */

/* width */
::-webkit-scrollbar {
    width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
    width: 0.4rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
}